<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все блюда</title>
</head>

<body>

<div th:each="dish : ${dishes}">
    <a th:href="@{/dishes/{id}(id=${dish.getId()})}"
    th:text="${dish.getName()}">Блюдо</a>
</div>
<hr />
<a href="/dishes/new">Добавить новое блюдо</a>

<hr />

<!-- Добавление кнопок для перехода к другим разделам -->
<div>
    <a href="/orders">
        <button>Перейти к заказам</button>
    </a>

    <a href="/tables">
        <button>Перейти к столам</button>
    </a>

    <a href="/table_reservations">
        <button>Перейти к бронированию столов</button>
    </a>

    <a href="/clients">
        <button>Перейти к клиентам</button>
    </a>

    <a href="/ingredients">
        <button>Перейти к ингредиентам</button>
    </a>
</div>

</body>
</html>