<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить стол</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/tables/{id}(id=${table.getId()})}" th:object="${table}">

    <label for="number_of_seats">Введите количество мест:</label>
    <input type="text" th:field="*{number_of_seats}" id="number_of_seats">
    <div style="color:red" th:if="${#fields.hasErrors()}" th:errors="*{number_of_seats}">Number of Seats Error</div>
    <br />

    <input type="submit" value="Обновить стол">

</form>

</body>
</html>