<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все столы</title>
</head>
<body>

<div th:each="table : ${tables}">
    <a th:href="@{/tables/{id}(id=${table.getId()})}"
       th:text="${'Стол ' + table.getId()}">Стол</a>
</div>

<hr />

<a href="/tables/new">Добавить новый стол</a>

<hr />

<!-- Добавление кнопок для перехода к другим разделам -->
<div>
    <a href="/orders">
        <button>Перейти к заказам</button>
    </a>

    <a href="/clients">
        <button>Перейти к клиентам</button>
    </a>

    <a href="/table_reservations">
        <button>Перейти к бронированию столов</button>
    </a>

    <a href="/dishes">
        <button>Перейти к блюдам</button>
    </a>

    <a href="/ingredients">
        <button>Перейти к ингредиентам</button>
    </a>
</div>

</body>
</html>