<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить ингредиент</title>
</head>

<body>

<form th:method="PATCH" th:action="@{/ingredients/{id}(id=${ingredient.getId})}" th:object="${ingredient}">

    <label for="name">Введите название ингредиента:</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</div>
    <br />

    <label for="quantity">Введите количество ингредиента:</label>
    <input type="text" th:field="*{quantity}" id="quantity">
    <div style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">quantity  Error</div>
    <br />

    <input type="submit" value="Обновить">

</form>

</body>
</html>